<!DOCTYPE html>
<html>
  <head>
    <title>Sportsbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}extra.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/" name="top">Sportsbook</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{% url "baseball" %}"><i class="icon-tags icon-white"></i> MLB</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{% url "basketball" %}"><i class="icon-tags icon-white"></i> NBA</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{% url "football" %}"><i class="icon-tags icon-white"></i> NFL</a></li>
              <li class="divider-vertical"></li>
<!--               <li><a href=""><i class="icon-tags icon-white"></i> NHL</a></li>
              <li class="divider-vertical"></li>
            </ul>
            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i> admin <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-share"></i> Logout</a></li>
              </ul>
            </div> -->
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </div>
      <!--/.navbar-inner -->
    </div>
    <!--/.navbar -->

{% block content %}
{% endblock content %}

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>