<!DOCTYPE html>
<html>
  <head>
    <title>Sportsbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#" name="top">Brand Name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
              <li class="divider-vertical"></li>
              <li class="active"><a href="#"><i class="icon-file icon-white"></i> Pages</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#"><i class="icon-envelope icon-white"></i> Messages</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#"><i class="icon-signal icon-white"></i> Stats</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#"><i class="icon-lock icon-white"></i> Permissions</a></li>
              <li class="divider-vertical"></li>
            </ul>
            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i> admin <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-share"></i> Logout</a></li>
              </ul>
            </div>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </div>
      <!--/.navbar-inner -->
    </div>
    <!--/.navbar -->
    <div class="container-fluid" >
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>