{% extends "base.html" %}

{% block content %}
    <form method = "POST" action="/">
        <div class="container line-table" >
          {% load render_table from django_tables2 %}
          {% render_table table %}
          {% if user.is_authenticated %}
            <div class="pull-right">
                <select name="bettype">
                    <option value = "single">Single Bet</option>
                    <option value = "teaser">Teaser</option>
                    <option value = "parlay">Parlay</option>
                    <option value = "ar">Action Reverse</option>
                </select>
                <input type="submit" value="Continue">
            </div>
          {% endif %}
        </div>
    </form>
{% endblock content %}
